<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
  <form class="chat" id="chat" method="post" action="javascript:onSubmit();">
    <div class="rep" id="msg">
      <p>name1 : text</p>
      <p>name2 : text</p>
    </div>
    <input type="text" name="msg" class="input-chat" style="position: fixed;">
    <input type="submit" class="submit" style="position: fixed;">
  </form>
</div>


</body>
</html>
